body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
.name-header {
  text-align: center;
}

.interests {
  list-style-type: none;
}

.main-background {
  width: 100%;
}

img.background-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
